@if (NewscardItems.length > 0) {
    <div class="flex gap-2">
        <div class="p-1 relative bg-white rounded-xl border shadow-[4px_4px_0px_0px_#000000] hover:shadow-[0px_0px_0px_0px_#000000] transition-all">
            <div class="cursor-pointer flex gap-3 bg-black/[0.05] p-1 rounded-lg border border-black/[0.1]">
                <img [src]="NewscardItem()?.article_head_image_url" alt="nothing.jpg" class="aspect-square h-50 rounded-lg">
                <div class="flex flex-col justify-between">
                    <div class="flex flex-col">
                        <p class="font-light">{{NewscardItem()?.article_head?.slice(-30)}}</p>
                        <p class="text-sm font-light text-black/[0.8]">{{ NewscardItem()?.article_summerized_content?.slice(-220)}}</p>
                    </div>
                    
                    <div class="flex justify-between items-center">
                        @if (NewscardItem()?.article_author !=null) {
                            <div class="flex gap-1 p-1 pr-2 rounded-lg items-center">
                                <img [src]="NewscardItem()?.article_author_icon" class="h-6">
                                <p class="text-sm">{{NewscardItem()?.article_author}}</p>
                            </div>
                        }@else {
                            <div></div>
                        }
                        
                        <a hre [href]="NewscardItem()?.article_origin_web_url" class="self-end p-1">
                            <img [src]="NewscardItem()?.article_orign_web_icon" class="h-6 opacity-60 hover:opacity-80 transition-all">
                        </a>
                    </div>
                </div>

                <div class="flex flex-col justify-start items-center gap-2 overflow-hidden">
                    <img src="Icons/weblinks.svg" class="h-10">
                    @for (item of NewscardItems; track $index) {    
                        @if ($index === this.CurrentCardIndex()) {
                            <span (click)="changeCardIndex($index)" class="cursor-pointer m-0 p-0 h-0.5 w-4 rounded-full font-bold bg-black"></span>
                        }@else {
                            <span (click)="changeCardIndex($index)" class="cursor-pointer m-0 p-0 h-0.5 w-2 text-xs bg-black/[0.3]"></span>
                        }
                    }
                </div>
            </div>
        </div>
        
        <div class="h-max overflow-hidden p-1 relative bg-white rounded-xl flex flex-col justify-center gap-0.5 border shadow-[4px_4px_0px_0px_#000000] hover:shadow-[0px_0px_0px_0px_#000000] transition-all">
            @for (item of NewscardItems; track $index) {
                <div (click)="changeCardIndex($index)" class="cursor-pointer flex gap-2 bg-black/[0.05] hover:bg-black/[0.3] p-0.5 items-center rounded-lg border border-black/[0.1] transition-all">
                    <img [src]="NewscardItem()?.article_head_image_url" alt="nothing.jpg" class="h-8 rounded-lg">
                    <p class="font-light text-sm min-w-sm ">{{NewscardItem()?.article_head?.slice(-30)}}</p>
                </div>
                
            }
        </div>
    </div>
}