@if (NewscardItems.length > 0) {
    <div class="p-[1px] relative bg-white rounded-xl border shadow-[4px_4px_0px_0px_#000000] hover:shadow-[0px_0px_0px_0px_#000000] transition-all">
        <div class="relative aspect-square flex flex-col bg-black/[0.05] rounded-lg border-black/[0.1]">
            <img #imgElement
            [src]="NewscardItem()?.image_url" 
            (error)="imgElement.src='images/home.jpg'"
            class="inset-0 w-full h-full object-cover rounded-xl">
            <div class="rounded-xl absolute inset-0 bg-gradient-to-t from-black/[0.4] to-transparent"></div>

            <div class="absolute bottom-0 p-2 w-full text-white flex-1 flex flex-col justify-between ">
                <div (click)="showBody()" class="flex justify-center font-extralight cursor-pointer">
                    <div class="-rotate-90">></div>
                </div>
                <div class="flex flex-col gap-1 ">
                    <p class="text-sm font-normal">{{NewscardItem()?.title}}</p>
                    @if (body()) {
                        <p (click)="showBody()" class="cursor-pointer mb-2 text-xs font-light text-white/[0.8]">{{ NewscardItem()?.body}}</p>
                    }
                    
                </div>
                
                <div class="flex justify-between items-center">
                    <div class="text-xs font-light">
                    {{NewscardItem()?.date|date}}
                    </div>
                    <a [href]="NewscardItem()?.article_url" class="flex opacity-100 hover:opacity-60 text-xs items-center gap-1 transition-all">
                        <!-- <img src="Icons/globewhite.svg" class="h-4"> -->
                        {{NewscardItem()?.source}}
                    </a>
                </div>
            </div>

            <div class="absolute top-2 right-2 flex flex-col justify-start items-center gap-2">
                <button (click)="next()" class="mb-2 h-4 w-4 cursor-pointer border rounded-full bg-gray-100 hover:bg-gray-600 shadow-[1px_2px_0px_0px_#000000] hover:shadow-[0px_0px_0px_0px_#000000] transition-all"></button>
                <div class="flex flex-col gap-2 items-center">
                    @for (item of NewscardItems; track $index) {    
                        @if ($index === this.CurrentCardIndex()) {
                            <span (click)="changeCardIndex($index)" class="cursor-pointer m-0 p-0 h-0.5 w-3 rounded-full font-bold bg-black"></span>
                        }@else {
                            <span (click)="changeCardIndex($index)" class="cursor-pointer m-0 p-0 h-0.5 w-2 text-xs bg-black/[0.3]"></span>
                        }
                    }
                </div>
                
            </div>
        </div>
    </div>
}