<div class=" relative select-none">
    <!-- Background Dots  + Faded -->
    <div class="absolute -z-10 inset-0 bg-[radial-gradient(circle,_black_1px,_transparent_1px)] [background-size:3px_3px]"></div>
    <div class="absolute -z-10 inset-0 bg-gradient-to-b from-white/30 to-white"></div>
    <div class="relative min-w-screen min-h-screen flex">\

        <!-- Right Settings -->
        <div class="fixed z-0 left-0 bottom-0 flex flex-col h-full justify-end p-5 sm:p-10">
            <div class="h-max shadow-[4px_4px_0px_0px_#000000] rounded-lg text-black bg-white border-black border-2 p-1  cursor-pointer" >
                <img [routerLink]="['']" src="Icons/logo.svg" class="h-9 w-9 hover:scale-[0.95] transition-all">
                <div class="h-40 w-9 hover:scale-[0.95] transition-all"></div>
                @if(auth.sessions && auth.sessions.user.is_anonymous){
                    <img (click)="auth.sign_in_oauth()" alt="sign in" src="Icons/sign.svg" class="h-9 w-9 hover:scale-[0.95] transition-all" title="sign in">
                }@else {
                    <img (click)="auth.sign_out()" alt="sign out" [src]="auth.data()?.user.user_metadata.avatar_url" class="h-9 w-9 hover:scale-[0.95] transition-all rounded-lg">   
                }
            </div>
        </div>

        <!-- Central DashBorad  -->
        <div class="flex-1 flex">
            

            @if (removeIntro()) {
                <div class="flex-1 h-full flex flex-col justify-center items-center">
                    <div class="flex flex-col justify-center items-center">
                        <div class="w-11/12 md:w-8/12 lg:w-6/12 relative flex flex-col p-2 text-center mb-10">
                            <h2 class="font-semibold text-3xl mb-1 px-2">News & Law Agent</h2>
                            <p class="text-gray-700 text-sm px-2">A multi-agent conversational system with a hierarchical architecture to handle complex law and news-related queries, leveraging specialized agents for classification, redirection, orchestration, and response synthesis.</p>
                            
                        </div>
                        <div class="text-xs text-white bg-amber-300/[0.8] backdrop-blur-xs border-amber-400/[0.6] border-1 px-2 py-1 rounded-md mb-5 shadow-amber-500 shadow-xl">
                            Click Over any of below to view examples
                        </div>
                        <div class="w-11/12 sm::w-8/12 lg:w-7/12 flex flex-col md:grid grid-cols-2 grid-rows-2 gap-4">
                            <!-- Left Card -->
                            <div class="row-span-2 bg-white rounded-lg p-3 flex flex-col border-black border-2">
                                <img (click)="getExampleContent('autonomustask')" src="Gifs/Overall.gif" alt="Card Image" class="cursor-pointer hover:scale-[1.01] hover:border-black/[0.2] hover:shadow transition-all relative aspect-video border border-black/[0.1] rounded-lg mb-2 object-cover">
                                <h2 class="font-semibold mb-1 px-2 text-sm">Autonomus task Completion</h2>
                                <p class="text-gray-700 font-light text-xs px-2">An agentic workflow where specialized workers automatically reframe queries, fetch domain-specific data (research, images, news), extract relevant insights, and synthesize final outputs without manual intervention.</p>
                            </div>
                            <!-- Right Top Card -->
                            <div class="bg-white rounded-xl p-3 flex flex-row border-black border-2">
                                <img (click)="getExampleContent('cardoutput')" src="Gifs/Orchestration.gif" alt="Card Image" class="cursor-pointer hover:scale-[1.01] hover:border-black/[0.2] hover:shadow transition-all h-40 aspect-square border border-black/[0.1] rounded-lg object-cover">
                                <div class="flex flex-col p-2">
                                    <h2 class="font-semibold mb-1 text-sm px-2">Card-Wise Output Arrangement</h2>
                                    <p class="text-gray-700 font-light text-xs px-2">organizes system responses into card-based views</p>
                                    
                                </div>
                            </div>
                            <!-- Right Bottom Card -->
                            <div class="bg-white rounded-xl p-3 flex flex-row border-black border-2">
                                <img (click)="getExampleContent('errorgaurdrail')" src="Gifs/ErrorAndRedirector.gif" alt="Card Image" class="cursor-pointer hover:scale-[1.01] hover:border-black/[0.2] hover:shadow transition-all h-40 aspect-square border border-black/[0.1] rounded-lg object-cover">
                                <div class="flex flex-col p-2">
                                    <h2 class="font-semibold mb-1 text-sm px-2">Error & Guardrail Handling</h2>
                                    <p class="text-gray-700 font-light text-xs px-2">Handles Irrelvent and dangerous queries with robust Error Handling</p>
                            
                                </div>
                            </div>
                        </div>

                        
                    </div>
                    <div class="flex gap-3 p-5 sm:p-10 ">
                        
                        <input
                        [ngModel]="MasterQuestion()" 
                        (ngModelChange)="MasterQuestion.set($event)"
                        (keydown.enter)="showMainSearchInput()"
                        type="text" class="font-light right-25 w-[50vw] p-5 h-10 rounded-lg bg-white border-black border-2 shadow-[4px_4px_0px_0px_#000000] focus:outline-0 px-5 pr-10" placeholder="Ask Anything !">
                        
                        <div class="shadow-[4px_4px_0px_0px_#000000] rounded-lg text-black bg-white border-black border-2 p-1  cursor-pointer" >
                            <img [src]="'Icons/search.svg'" class="h-8 hover:scale-[0.95] transition-all" (click)="showMainSearchInput()">
                        </div>
                        
                    </div>
                    
                    
                </div>                
            }
            @else {
                <div class="flex-1 flex flex-col items-center">
                    <div class="select-text w-10/12 sm:w-11/12 lg:w-9/12 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5 py-10">
                        @for (item of Components(); track $index) {
                            
                            @if (item.type){
                                @switch (item.type) {
                                    @case ("FinalAnswer") {
                                        <app-main-answer-card 
                                        [Title] = "item.content.answer_title"
                                        [Content]="item.content.final_answer" 
                                        class="w-full"/>
                                    }
                                    @case ("Conversation") {
                                        @if (item.content.proceed2Orchestration == false) {
                                            <app-main-answer-card [Content]="item.content.conversation" class="w-full"/>
                                        }
                                        <!-- <app-news-cards class="col-span-3"/> -->
                                    }
                                    @case ("Summeries") {
                                        <app-summary-card 
                                        [SummaryTitle]="item.content.summary_title"
                                        [Summaries]="item.content.summeries"
                                        class="w-full"/>
                                    }
                                    @case ("Guardrail") {
                                        @if(item.content > 2 && item.content <= 4 ) {
                                            <app-error-card [ErrorIndex]="item.content" class="w-full"/>
                                        }
                                    }
                                    @case ("Redirection") {
                                        <app-error-card 
                                        [Redirection]="item.content.redirection_str" 
                                        [ErrorIndex]="item.content.gaurdrail_index" 

                                        (message)="receiveMessage($event)"
                                        class="w-full"/>
                                    }
                                    @case ("ZeroCard") {
                                        <app-zero-card (messageEvent)="newConversation($event)"/>
                                    }
                                    @case ("Error") {
                                        <app-model-error-card [e]="item.content" class="w-full" />
                                    }
                                    <!-- Need to Be Fixed  from herer > -->

                                    @case ("News") {
                                        <app-news-cards [NewscardItems]="item.content" class="w-full"/>
                                    }
                                    @case ("Media") {
                                        <app-link-images-card [ImageWithLinks]="item.content" class="w-full"/>
                                    }
                                    @case ("Gov") {
                                        <app-gov [Content]="item.content" class="w-full"/>
                                    }
                                    
                                }
                            }
                            @else {
                                <div class="text-sm text-gray-400">
                                    {{ item | json }}
                                </div>
                            }
                        }
                        <!-- @for (item of items; track $index) {} -->
                        <app-questioncard [progress]="progress" (messageEvent)="receiveMessage($event)" class="w-full"/>
                    </div>
                    </div>

                
            }
            
        </div>
            

            <!-- <div class="relative w-6/12 flex justify-center items-center mb-10">
                <input type="text" class=" p-5 h-10 w-full rounded-lg bg-white border-black border-2 shadow-[4px_4px_0px_0px_#000000] focus:outline-0 px-5 pr-10" [placeholder]="placeholder">
                <img src="Icons/search.svg" class="absolute z-10 right-2 h-9 w-9 hover:scale-[0.95] transition-all">
            </div> -->
            
        <!-- </div> -->
        <!-- Left Menu  -->
        <!-- <div class="fixed right-0 bottom-0 flex flex-col h-full justify-end p-5 sm:p-10 ">
            @if (Searching()) {
                <input 
                [ngModel]="MasterQuestion()" 
                (ngModelChange)="MasterQuestion.set($event)"
                (keydown.enter)="showMainSearchInput()"
                type="text" class="absolute font-light right-25 w-[50vw] p-5 h-10 rounded-lg bg-white border-black border-2 shadow-[4px_4px_0px_0px_#000000] focus:outline-0 px-5 pr-10" placeholder="Ask Anything !">
            }
            <div class=" shadow-[4px_4px_0px_0px_#000000] rounded-lg text-black bg-white border-black border-2 p-1  cursor-pointer" >
                <img [src]="Searching() === false ? 'Icons/add.svg' : 'Icons/search.svg'" class="h-8 hover:scale-[0.95] transition-all" (click)="showMainSearchInput()">
            </div>
        </div> -->
    </div>
    
</div>
